body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(#ffe4ef, #fff);
}

.header {
    background: #f06292;
    padding: 20px;
    text-align: center;
}

.header h1 {
    color: white;
    margin: 0;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 40px auto;
}

.card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #f06292;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}