{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Your Daily Routine 🌷</h2>
    <table width="100%">
        <tr>
            <th>Time</th>
            <th>Activity</th>
        </tr>
        <tr>
            <td>7:00 AM</td>
            <td>Warm water</td>
        </tr>
        <tr>
            <td>8:30 AM</td>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>1:00 PM</td>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>5:00 PM</td>
            <td>Snack</td>
        </tr>
        <tr>
            <td>10:30 PM</td>
            <td>Sleep</td>
        </tr>
    </table>
</div>
{% endblock %}